<nav>
    <header class="navbar container">
<div>
    <a href="/"><h2>
        HOME
    </h2></a>
</div>
</button>
<div class="navbar__collapse">
    <ul class="menu">
        <li><a href="/">Grid</a></li>
        <li><a href="/s2">Land</a></li>
    </ul>
</div>
</header>
</nav>