---
layout: base.njk
title: Land
---

<main class="container">
    <div>
        <h1>
            {{ countries[169].name.common }}
        </h1>
        <p>
            {{ countries[169].name.common }}'s capital city is {{ countries[169].capital[0] }} and it's
            located in {{ countries[169].region }} or {{ countries[169].subregion }}.
            It currently has a population of {{
            countries[169].population }} people.
            {{ countries[169].name.common }}'s timezone is {{ countries[169].timezones[0] }} and its
            total area covers around {{ countries[169].area }} square kilometers. The country borders {{ countries[169].borders }}. 
            The week starts on {{ countries[169].startOfWeek }} and you drive on the {{ countries[169].car.side }} side of the road. 
        </p>
        {% image countries[169].flags.png, countries[169].name.common %}
    </div>
</main>
