---
layout: base.njk
title: Land
---

{{ rndm }}
{% set rndm = [1,2,3,4,5,6,7,8,9] | random %}  

<main class="container">
    <div>
        <h1>
            {{ countries[rndm].name.common }}
        </h1>
        <p>
            {{ countries[rndm].name.common }}'s capital city is {{ countries[rndm].capital[0] }} and it's
            located in {{ countries[rndm].region }} or {{ countries[rndm].subregion }}.
            It currently has a population of {{
            countries[rndm].population }} people.
            {{ countries[rndm].name.common }}'s timezone is {{ countries[rndm].timezones[0] }} and its
            total area covers around {{ countries[rndm].area }} square kilometers. The country borders {{ countries[rndm].borders }}. 
            The week starts on {{ countries[rndm].startOfWeek }} and you drive on the {{ countries[rndm].car.side }} side of the road. 
        </p>
        {% image countries[rndm].flags.png, countries[rndm].name.common %}
    </div>
</main>
