---
layout: base.njk
title: Land
---

<main class="container">
    <div>
        <h1>
            {{ countries[100].name.common }}
        </h1>
        <p>
            {{ countries[100].name.common }}'s capital city is {{ countries[100].capital[0] }} and it's
            located in {{ countries[100].region }} or {{ countries[100].subregion }}.
            It currently has a population of {{
            countries[100].population }} people.
            {{ countries[100].name.common }}'s timezone is {{ countries[100].timezones[0] }} and its
            total area covers around {{ countries[100].area }} square kilometers. The country borders {{ countries[100].borders }}. 
            The week starts on {{ countries[100].startOfWeek }} and you drive on the {{ countries[100].car.side }} side of the road. 
        </p>
        {% image countries[100].flags.png, countries[100].name.common %}
    </div>
</main>
